


#thanks {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: absolute;
  font-family: sans-serif;
}

#thanks h1 {
  color: #0A0A0A !important;
  font-size: 32px !important;
  margin: 0 0 24px 0;
}

#thanks > div {
  font-size: 18px;
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 800px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.super-button {
  padding: 12px;
  font-size: 16px;
  font-weight: 700;
  margin: 40px 0 0 0;
  color: #ffffff !important;
  background-color: #515DC8;
  border-radius: 6px;
  height: 32px;
  line-height: 32px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 2px 0px;
}

.super-button:hover {
  padding: 12px;
  font-size: 16px;
  font-weight: 700;
  margin: 40px 0 0 0;
  color: #ffffff !important;
  background-color: #444EA8;
  border-radius: 6px;
  height: 32px;
  line-height: 32px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 2px 0px;
}

.super-home {
  padding: 12px;
  font-size: 16px;
  font-weight: 700;
  color: #515DC8 !important;
}

.super-text {
  color: #5C5C5C !important;
}
