@import "vars";

button {
  -webkit-appearance: none;
}


// ССЫЛКИ

.link {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  font-size: inherit;
  color: $blue;
  text-decoration: none;
  font-weight: bold;
  white-space: nowrap;
  transition: all ease .3s;
  &:hover {
    color: $blue-dark;
    .link__icon {
      fill: $blue-dark;
    }
  }
  .link__icon {
    fill: $blue;
    transition: all ease .3s;
  }
  &--icon-left {
    .link__svg {
      display: inline-block;
      margin-right: 8px;
    }
  }
  &--icon-right {
    .link__svg {
      display: inline-block;
      margin-left: 8px;
    }
  }
  &--red {
    color: $red;
    .link__icon {
      fill: $red;
    }
    &:hover {
      color: $red-dark;
      .link__icon {
        fill: $red-dark;
      }
    }
  }
  &--black {
    color: #000;
    .link__icon {
      fill: #000;
    }
    &:hover {
      color: $blue-dark;
      .link__icon {
        fill: $blue-dark;
      }
    }
  }
  &--text-gray {
    color: $gray-dark;
    &:hover {
      color: $red-dark;
      .link__icon {
        fill: $red-dark;
      }
    }
  }
  &--sm {
    font-size: 13px;
  }
  &--lg {
    font-size: 17px;
  }
}


// КНОПКИ

.btn {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  // height: 40px;
  padding: 7px 26px 10px;
  // padding: 0 26px;
  // font-size: 15px;
  font-size: inherit;
  background-color: $blue;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: .4px;
  border: 0;
  border-radius: 5px;
  transition: all ease .3s;
  cursor: pointer;
  &:hover {
    background-color: $blue-dark;
  }
  &:active {
    transform: translateY(2px);
  }
  &:focus {
    outline: none;
  }
  .btn__icon {
    fill: #fff;
    transition: all ease .3s;
  }
  &--icon-left {
    .btn__svg {
      margin-right: 8px;
    }
  }
  &--icon-right {
    .btn__svg {
      margin-left: 8px;
    }
  }
  &--red {
    background-color: $red;
    &:hover {
      background-color: $red-dark;
    }
  }
  &--md {
    height: 50px;
    padding: 0 30px;
  }
  &--lg {
    height: 60px;
    padding: 0 30px;
  }
  &--border {
    border: 1px solid $blue;
    background-color: transparent;
    color: $blue;
    .btn__icon {
      fill: $blue;
    }
    &:hover {
      border: 1px solid $blue-dark;
      background-color: transparent;
      color: $blue-dark;
      .btn__icon {
        fill: $blue-dark;
      }
    }
    &.btn--red {
      border: 2px solid $red;
      color: $red;
      .btn__icon {
        fill: $red;
      }
      &:hover {
        border: 2px solid $red-dark;
        background-color: transparent;
        color: $red-dark;
        .btn__icon {
          fill: $red-dark;
        }
      }
    }
  }
  &--fw {
    display: flex;
    justify-content: center;
    width: 100%;
  }r
  &[disabled="disabled"],
  &[disabled],
  &:disabled,
  &--disabled {
    // background-color: $gray;
    cursor: not-allowed;
    pointer-events: none;
  }
  &.disabled {
    // background-color: $gray;
    cursor: not-allowed;
  }
}
