$bg: #31DDE8;
$form_bg: #65389F;

$ph_color: #94A1A8;

// Basic web color
$white:           #fff;
$black:           #000;

$green:           #18a255;
$yellow:          #ffc500;

$gray-dark:       #6a747a;
$gray:            #94a1a8;
$gray-light:      #c6d7df;
$gray-pale:       #fafafa;


$blue-dark:       #26a0cb;
$blue:            #5ec3ea;
$blue-light:      #70d8ff;

$red-dark:        #ff495c;
$red:             #ff6373;
$red-light:       #ff7c85;

$header_color: #EEEEEE;
$main_c_light: #8FBCFF;
$border_c: #C4C4C4;

$edit_tr: #FFECB2;
